/* Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
/*generic*/

.main-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 800px;
  border: 1px dashed red;
  align-items: center;
}
.box-header,
.footer-section,
a {
  color: white;
}
.box {
  display: flex;
  border: 2px dashed black;
  padding: 5px 10px;
}

/*header*/

.box-header {
  height: 610px;
  border: 1px dashed red;
}
.accedi {
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 0;
  color: #acacac;
}
.accedi:hover {
  color: #032c9f;
}
a:hover {
  text-decoration: underline;
}

.nav-header {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 15%;
  background-color: #2c5ee9;
}

.logo {
  background-color: #2c5ee9;
  flex-grow: 1;
}
.link {
  flex-grow: 3;
  justify-content: center;
  gap: 10px;
}
.login {
  background-color: #2c5ee9;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
.box-foto-header {
  height: calc(100% - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/jumbo.png");
  background-size: cover;
}
.box-title {
  height: 400px;
  width: 50%;
  border: 2px dashed black;
}
.box-title > * {
  display: flex;
  height: calc(100% / 3);
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  padding: 0 15px;
}
.button {
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 25px;
  border: 0;
  color: #111111;
}
.button:hover {
  background-color: #111111;
  color: white;
}

/*main*/
.main-section.last-section {
  height: 1200px;
}
.box-section.descrizione > * {
  height: 50%;
  display: flex;
  border: 1px solid yellow;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
}
h1 {
  font-size: 58px;
}
h2 {
  font-size: 42px;
}
p {
  font-size: 24px;
}

.box-section {
  height: 500px;
  width: 400px;
  border: 2px dashed black;
  background-color: #fbc0cc;
}

.foto {
  width: 600px;
  max-width: 550px;
  background-color: #3790ff;
}
.reverese-section {
  flex-direction: row-reverse;
  background-color: #d3d3d3;
}
/*   last-section*/
.box-section.last-section {
  height: 100%;
}
.last-section > div > img {
  display: flex;
  flex-direction: column;
  height: 600px;
  background-color: #d3d3d3;
}

.last-section > .box-section {
  flex-direction: column;
  width: 100%;
  padding: 0px 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/****** foto section ********/

.box-section.foto > img,
.last-section > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
/*** section description**/

/*footer*/

.footer-section {
  height: 600px;
  border: 1px dashed red;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px 15%;
  background-color: #23272a;
  gap: 50px;
}

.footer-info {
  display: flex;
  flex-direction: row;
}
.social {
  width: 30%;
  background-color: #f08080;
}
.info {
  width: 70%;
  padding: 0;
}
.info > .box {
  width: 100%;
  background-color: #34b2aa;
}
.logo-link {
  height: 90px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #7ffed4;
}
.footer-logo,
.footer-bottone {
  background-color: #fab6c1;
}
.footer-info {
  background-color: #f08080;
  width: 100%;
}
